In [1]:
import seaborn as sns
import sklearn as sk
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split #We need this to split the data

fifa = pd.read_csv('fifa.csv',)
def fix(x):
    x = str(x)
    if('+' in x):
        calc = x.split('+')
        return int(calc[0]) + int(calc[1])
    elif('-' in x):
        calc = x.split('-')
        return int(calc[0]) + int(calc[1])
    elif x.isdigit():
        return int(x)
    else:
         return int(0)
for column in fifa.iloc[:,12:73]:
    print(column, fifa[column].dtype)
    fifa[column] = fifa[column].apply(fix)
   #calculate weird numbers in rows about player performance such as 72+9 etc.

df = fifa[["Acceleration", "Free kick accuracy", "GK diving", "Long passing", "Sliding tackle", "Volleys", "Preferred Positions"]]
df = df.dropna() #get rid of rows with empty cells
df.head()

C:\Users\maksz\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (23,35) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

Special int64
Acceleration object
Aggression object
Agility object
Balance object
Ball control object
Composure object
Crossing object
Curve object
Dribbling object
Finishing object
Free kick accuracy object
GK diving object
GK handling object
GK kicking object
GK positioning object
GK reflexes object
Heading accuracy object
Interceptions object
Jumping object
Long passing object
Long shots object
Marking object
Penalties object
Positioning object
Reactions object
Short passing object
Shot power object
Sliding tackle object
Sprint speed object
Stamina object
Standing tackle object
Strength object
Vision object
Volleys object
CAM float64
CB float64
CDM float64
CF float64
CM float64
ID int64
LAM float64
LB float64
LCB float64
LCM float64
LDM float64
LF float64
LM float64
LS float64
LW float64
LWB float64
Preferred Positions object
RAM float64
RB float64
RCB float64
RCM float64
RDM float64
RF float64
RM float64
RS float64
RW float64

,Acceleration,Free kick accuracy,GK diving,Long passing,Sliding tackle,Volleys,Preferred Positions
0,89,76,7,77,23,88,0
1,92,90,6,87,26,85,0
2,94,84,9,75,33,83,0
3,88,84,27,64,38,88,0
4,58,11,91,59,11,11,0

In [2]:
# default parameters pandas Series.str.split() function
df['Preferred Positions'] = df['Preferred Positions'].astype('str') #calculating numbers turned column type into object, had to change it back to string but the data is gone
df['first'] = df['Preferred Positions'].str.split(' ').str[0] #splitting and keeping only 1st value 
final = df[["Acceleration", "Free kick accuracy", "GK diving", "Long passing", "Sliding tackle", "Volleys", "first"]]
final.head()

,Acceleration,Free kick accuracy,GK diving,Long passing,Sliding tackle,Volleys,first
0,89,76,7,77,23,88,0
1,92,90,6,87,26,85,0
2,94,84,9,75,33,83,0
3,88,84,27,64,38,88,0
4,58,11,91,59,11,11,0

In [3]:
dummies = pd.get_dummies(final["first"])
final= pd.concat([final, dummies], axis = 1) #creating dummies and assigning to different positions
final.head()
final

,Acceleration,Free kick accuracy,GK diving,Long passing,Sliding tackle,Volleys,first,0
0,89,76,7,77,23,88,0,1
1,92,90,6,87,26,85,0,1
2,94,84,9,75,33,83,0,1
3,88,84,27,64,38,88,0,1
4,58,11,91,59,11,11,0,1
...,...,...,...,...,...,...,...,...
17976,24,12,46,21,10,6,0,1
17977,25,11,39,13,13,12,0,1
17978,66,25,11,30,14,33,0,1
17979,57,34,10,44,47,25,0,1
17980,48,17,15,24,43,19,0,1

In [4]:
from sklearn.preprocessing import normalize #get the function needed to normalize our data.

X = final[["Acceleration", "Free kick accuracy", "GK diving", "Long passing", "Sliding tackle", "Volleys"]] #create the X matrix
X = normalize(X) #normalize the matrix to put everything on the same scale
y = final['first'] #create the y-variable
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) #split the data, store it into different variables

I cannot find out what is going wrong with calculation at the beginning but it's ruining the data after turning it to type object